# Name: sivaprathish
# id:E6221008
# stream: b.sc data science
# course: python
# course code : csc 120
# date :6.12.2021

In [114]:
#area of the diff shapes
# circle = 3.14 *r*r
r=int(input("enter the radius"))
area=3.14*r*r
print("the area of the circle of ",r,"is",int(area))

enter the radius2
the area of the circle of  2 is 12

In [3]:
#area of square
# A=s**2
s=int(input("enter the side"))
area=s**2
print("the area of square;",area)

enter the side4
the area of square; 16

In [4]:
#area of rectangle
# R = L*B
L=int(input("enter the length"))
B=int(input("enter the breath"))
area=L*B
print("the area of rectangle is",area)

enter the length4
enter the breath6
the area of rectangle is 24

In [5]:
#area of triangle
# t = 1/2*L*B
L=int(input("enter the length"))
B=int(input("enter the breath"))
area=1/2*L*B
print("the area of triangle is",area)

enter the length4
enter the breath2
the area of triangle is 4.0

# conditional statement

In [9]:
a=10
b=20
if(a<b):
    print(" the b number great")

 the b number great

In [8]:
if (a>b):
    print("A is great")
else:
    print("B is greater")

B is greater

In [12]:
if (a>b):
    print("A is great")
elif(a==b):
    print("a equal b")
elif(a<b):
    print("B is greater")
else:
    print("nothing")

B is greater

In [15]:
# calculater
num1=int(input("enter the number"))
num2=int(input("enter the number"))
ch=input("enter the choice a.add b.sub c.mul")
if(ch=="a"):
    print("addition is",num1+num2)
elif(ch=="b"):
    print("subration",num1-num2)
elif(ch=="c"):
    print("multiple",num1*num2)
else:
    print("invalid input")

enter the number4
enter the number5
enter the choice a.add b.sub c.mulc
multiple 20

In [3]:
ch=input("1.circle\n 2,square\n 3.rectangle\n")
if(ch=="1"):
    r=int(input("enter the radius"))
    area=3.14*r*r
    print("the area of the circle of ",r,"is",int(area))
elif(ch=="2"):
    s=int(input("enter the side"))
    area=s**2
    print("the area of square;",area)
elif(ch=="3"):
    L=int(input("enter the length"))
    B=int(input("enter the breath"))
    area=L*B
    print("the area of rectangle is",area)
else:
    print("invalid input")

1.circle
 2,square
 3.rectangle
1
enter the radius7
the area of the circle of  7 is 153

Write a python program to take input from user and then check whether it is a number or a character. if it is character, determine whether it is in upper case or lower case

In [22]:
character=input("enter the value;")
if(character>"A" and character<="Z"):
    print("uppercase")
elif(character>"a" and character<="z"):
    print("lowercase")
elif(character>"0" and character<="9"):
    print("number")

enter the value;x
lowercase

In [25]:
# leap year or not
year=int(input("enter the year "))
if(year%4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year 2004
leap year

A company decides to give bonus to all of it's employees on Diwali. A 5% bonus on salary is given to the male workers and 10% bonus to the female workers. Write a program to enter the salary of the employee and sex of the employee. If the salary of the employee is less than Rs10,000 then the employee gets an extra 2% bonus on salary. Calculate the bonus that has to be given to the employee and display the salary that the employee will get.

In [34]:
gender=input("f.female\n m.male\n")
salary=int(input("enter the salary"))
if(salary<=10000 and gender== "f"):
    bonus=0.12*salary
    print("bonus=",bonus)
    print("salary=",bonus+salary)
elif(salary>=10000 and gender== "f"):
    bonus=0.1*salary
    print("bonus=",bonus)
    print("salary=",bonus+salary)
elif(salary<=10000 and gender== "m"):
    bonus=0.07*salary
    print("bonus=",bonus)
    print("salary=",bonus+salary)
elif(salary>=10000 and gender== "m"):
    bonus=0.1*salary
    print("bonus=",bonus)
    print("salary=",bonus+salary)

f.female
 m.male
m
enter the salary60000
bonus= 6000.0
salary= 66000.0

In [35]:
ch=input("enter value")
if(ch.isalpha()):
    print('its a character')
elif(ch.isdigit()):
    print("number")
else:
    print("invalid")

enter valuexx
its a character

odd or even

In [43]:
a=int(input("enter the value"))
if(a%2==0):
    print("even")
elif(a==0):
    print("zero")
else:
    print("odd")

enter the value8
even

positive or negative

In [40]:
b=int(input("enter the value"))
if(b>0):
    print("positive number")
elif(b<0):
    print("negative number")
else:
    print("neutral")

enter the value-6
negative number

nested if

In [44]:
num=int(input("enter the number to check"))
ch=int(input("Enter the choice 1. Odd or even 2. Positive or Ngative"))
if(ch==1):
    if(num%2==0):
        print("Even number")
    else:
        print("Odd number")
elif(ch==2):
    if(num>0):
        print("Positive")
    else:
        print("nagtive")

enter the number to check5
Enter the choice 1. Odd or even 2. Positive or Ngative2
Positive

# looping statement

In [45]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [47]:
start=int(input("enter the value "))
stop=int(input("enter the value "))
step=int(input("enter the value "))
for i in range(start,stop,step):
    print(i)

enter the value 9
enter the value 50
enter the value 5
9
14
19
24
29
34
39
44
49

In [54]:
l=["siva","prathish","python"]

In [55]:
l

['siva', 'prathish', 'python']

In [56]:
for i in (l):
    print(i)

siva
prathish
python

In [57]:
l=["welcome to sret siva","welcome to sret prathish","welcome to sret python"]

In [58]:
for i in (l):
    print(i)

welcome to sret siva
welcome to sret prathish
welcome to sret python

In [60]:
d=[1,2,3,4,5,6,7,8,9]
for i in (d):
    if(i%2==0):
        print(i)

2
4
6
8

In [64]:
k=[-1,2,-33,-44,22,30]
for i in (k):
    if(i<0):
        print("negative number are",i)

negative number are -1
negative number are -33
negative number are -44

In [66]:
start=int(input("enter the value "))
stop=int(input("enter the value "))
for i in range(start,stop):
    if(year%4==0):
        print(i,end=" ")

enter the value 2004
enter the value 2020
2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019

In [67]:
n=5
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [77]:
num=int(input("enter the value"))
if(num==0):
    print("fact is 1 ")
fact1=1
for i in range(1,num+1):
        fact1=fact1*i
print(fact1)

enter the value3
6

In [84]:
num=int(input("enter the table; "))
start=int(input("enter the start value "))
stop=int(input("enter the stop value "))
for i in range(start,stop):
    print(num, 'x', i, '=', num*i)

enter the table; 5
enter the start value 1
enter the stop value 11
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Write a program to calculate the sum of cubes of numbers

In [90]:
num=int(input("enter the value "))
s=0
for i in range(1, num+1):
    a=i**3
    s=s+a
print(s)

enter the value 3
36

Reverse of the Number
123=321
num=123
rev=0
digit=num%10
rev=rev*10+digit
num=num//10
I1:
    digit=123%10=3
    rev=0*10+3= 3
    num=123//10= 12
    
I2: num=12
    digit=12%10=2
    rev=3*10+2= 32
    num=12//10=1    
i3: num=1
    digit=1%10=1
    rev=32*10+1=320+1=321
    num=1//10  
    print(rev

In [99]:
num=int(input("enter the value "))
temp=num
rev=0
while(num!=0):
    digit=num%10
    rev=rev*10+digit
    num=num//10
print("the reverse of the number",temp,"is",rev)

enter the value 123
the reverse of the number 123 is 321

sum of the digit:
123 = 1+2+3=6
num=123
sum=0

rem=num%10
sum=sum+rem
num=num//10

I1: num=123
    rem=123%10=3
    sum=0+3=3
    num=123//10=12
I2: num=12
    rem=12%10=2
    sum=3+2=5
    num=12//10=1
I3: num=1
    rem=1%10=1
    sum=5+1= 6
    num=1//10= 0
print(sum)

In [103]:
num=int(input("enter the value "))
temp=num
sum=0
while(num!=0):
    rem=num%10
    sum=sum+rem
    num=num//10
print("the sum of the number",temp,"is",sum)

enter the value 334
the sum of the number 334 is 10

In [113]:
num1=int(input("enter the value "))
temp=num1
sum=0
while(num1!=0):
    digit=temp%10
    sum=sum+digit**3
    num1=num1//10
if(temp==sum):
    print("amstrong")
else:
    print("not amstrong")
    print("sum",sum)

enter the value 123
not amstrong
sum 81