Name: sivaprathish
id:E6221008
stream: b.sc data science
course: python
course code : csc 120
date :8.12.2021

# looping statement
pass,
break,
continue

In [12]:
for i in range(1,10):
    if(i==5):
        break
    print(i)

1
2
3
4

In [13]:
for i in range(1,10):
    if(i==5):
        continue
    print(i)

1
2
3
4
6
7
8
9

In [17]:
l=["python","r","c","java"]
for i in range(len(l)):
    if(l[i]=="c"):
        continue
    print(l[i])

python
r
java

In [18]:
l=["python","r","c","java"]
for i in range(len(l)):
    if(l[i]=="c"):
        break
    print(l[i])

python
r

In [19]:
l=["python","r","c","java"]
for i in range(len(l)):
    if(l[i]=="c"):
        continue
    print(l[i]) :
    pass

In [21]:
print(i)

9

In [181]:
n=int(input("enter the number"))
sum = 0
for num in range(1, n + 1):
    sum = sum + num
print("Sum of first ", n, "numbers is: ", sum)

enter the number4
Sum of first  4 numbers is:  10

In [28]:
a=int(input("enter the number"))
b=sum(range(1,a+1))
print("sum is",b)

enter the number3

TypeError: 'int' object is not callable

In [29]:
a=int(input("enter the number"))
count=0
while a!=0:
    a=a//10
    count=count+1
print(count)

enter the number3333
4

In [33]:
l=[1,2,3,4,5,6,7,8]
for i in range(1,len(l),2):
    print(l[i])

2
4
6
8

In [42]:
s="sivaprathish"
s[3::-1]

'avis'

In [2]:
a= '121'
b=a[::-1]
if(a==b):
    print("palindrome")
else:
    print('not')

palindrome

In [38]:
a="amma"
b=a[::-1]
if(a==b):
    print("palindrome")
else:
    print('not')

palindrome

In [40]:
a="11011"
b=a[::-1]
if(a==b):
    print("palindrome")
else:
    print('not')

palindrome

In [43]:
x=36/4*(3+2)*4*+2

In [44]:
x

360.0

In [46]:
s="siva"*6

In [47]:
s

'sivasivasivasivasivasiva'

In [48]:
l=("python","r","c","java")

In [49]:
l[::-1]

('java', 'c', 'r', 'python')

In [180]:
l[2]=3

TypeError: 'tuple' object does not support item assignment

In [52]:
del l[2]

TypeError: 'tuple' object doesn't support item deletion

In [53]:
max(l)

'r'

In [54]:
min(l)

'c'

In [61]:
aaa="abcs@gmail.com"
user,name=aaa.split("@")
print(user)

abcs

In [60]:
username

['abcs', 'gmail.com']

In [65]:
s={1,2,3,4}
t={4,5,67}
s.update(t)
s

{1, 2, 3, 4, 5, 67}

In [73]:
s.remove(5)

In [74]:
s.discard(2)

In [75]:
s

{1, 3, 67}

In [76]:
s.difference(t)

{1, 3}

In [77]:
s.union(t)

{1, 3, 4, 5, 67}

In [78]:
s.intersection(t)

{67}

# write a program that creates two sets (square and cube sets) in the range 1-10 and demonstrate union,intersection,difference,update,remove,add,discard
split also

In [91]:
f={f**2 for f in range(1,11)}

In [92]:
d={d**3 for d in range(1,11)}

In [93]:
f.union(d)

{1, 4, 8, 9, 16, 25, 27, 36, 49, 64, 81, 100, 125, 216, 343, 512, 729, 1000}

In [94]:
f.intersection(d)

{1, 64}

In [95]:
sorted(f)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [98]:
f.remove(1)

In [99]:
f

{4, 9, 16, 25, 36, 49, 64, 81, 100}

In [100]:
f.add(11)

In [101]:
f

{4, 9, 11, 16, 25, 36, 49, 64, 81, 100}

In [108]:
d={'lol':"siva",2:5555,3:"zx"}

In [109]:
type(d)

dict

In [110]:
d[3]

'zx'

In [111]:
d[2]

5555

In [112]:
d['lol']

'siva'

In [2]:
d.update({3:50})

NameError: name 'd' is not defined

In [114]:
d

{'lol': 'siva', 2: 5555, 3: 50}

In [115]:
list1=[1,2,3]
list2=[4,5,6]
a=zip(list1,list2)
dict(a)

{1: 4, 2: 5, 3: 6}

In [116]:
a

In [118]:
s={1:100,2:30,4:'j'}
n=input("enter")
s.update({4:n})

enterr

In [119]:
s

{1: 100, 2: 30, 4: 'r'}

In [120]:
if 2 in s:
    print("present")
else:
    print("not present")

present

In [124]:
s={1:99,2:100,3:102}
n=int(input("Enter value to search:"))
if(n in s):
    print("👍")
elif(n not in s):
    print("The key is not found")
    ch=input("enter choice if you want to update:")
    if(ch=="yes"):
        val=int(input("Enterthe value:"))
        s.update({n:val})
        print(s)
    else:
        print("Thank you")
        print(s)

Enter value to search:1
👍

In [125]:
s=[1:2]

SyntaxError: invalid syntax (Temp/ipykernel_21288/1768015167.py, line 1)

In [126]:
x = ['a','b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]

In [128]:
x[2]["baz"]

3

In [129]:
x[2]["bar"]

{'x': 10, 'y': 20, 'z': 30}

In [131]:
s.pop(2)

100

In [132]:
s

{1: 99, 3: 102}

In [133]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
a=zip(keys,values)
dict(a)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# function

In [135]:
def sample(name):
    print("😁",name)
sample("sret")

😁 sret

In [3]:
def sample(name,id):
    print("welcome",name,id)
sample("sret","007")
sample("sret","007")

welcome sret 007
welcome sret 007

In [6]:
def sret(name,ed,clg="sriher"):
    print("name",name)
    print("ID",ed)
    print("clg",clg)
sret("s",7)

name s
ID 7
clg sriher

In [7]:
def sret(name,ed,clg="sriher"):
    def sret(name,ed,clg="sriher"):
    print("name",name)
    print("ID",ed)
    print("clg",clg)
n=input("enter ") 
i=int(input("enter "))
sret(n,i)

IndentationError: expected an indented block (Temp/ipykernel_2508/2013908270.py, line 3)

In [150]:
# keyword
def display(name,id):
    print("name",name)
    print("id",id)
display(id=14,name="siv")

name siv
id 14

In [10]:
def detial(name,id,dept,course):
    if(len(c)>0):
        
        print("name",n)
        print("ID",i)
        print("dept",d)
        print("course",c)
    else:
        print("name python")
        print("ID python")
        print("dept python")
        print("course python")
n=input("enter ")       
i=input("enter ")
d=input("enter ")
c=input("enter ")
detial(n,i,d,c)

enter
enter
enter
enter
name python
ID python
dept python
course python

In [157]:
#global and local variable
var="bad"
def show():
    var="very bad"
    print(var)
show()    
print(var)

very bad
bad

Write a program to calculate the Simple Intrest suppose the customer is a senior citizen is being offered 12% rate of intrest. for the other customers rate of intrest is 10%.

In [168]:
def si(p,n,r):
    if(r=="sc"):
        n=(p*n*0.12)/100
        print(n)
    else:
        n=(p*n*0.1)/100
        print(n)
p=int(input("enter:"))
n=int(input("enter:"))
r=input("enter:sc or nc")        
si(p,n,r)

enter:1000
enter:2
enter:sc or ncsc
2.4

In [169]:
# module

In [176]:
import calendar
m=int(input("enter:"))
year=int(input("enter:"))
print(calendar.month(year,m))

enter:6
enter:2004
     June 2004
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [174]:
print(calendar.calendar(2207))

                                  2207

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

Write a program that uses the getpass module to prompt the user for the password without echoing or printing what the typed password is to the console

In [177]:
import getpass
password=getpass.getpass("password:")

password:········

In [179]:
if(password==123456987):
    print("welcome")
else:
    print("😡🤬")

😡🤬